h1 {
  color: #ad6122;
}

h2 {
   color: #d8e06d;
}

.intro {
  text-align: center;
  background-color: #c5d140;
  width: 70%;
  color: #7a9b33;
  border: 5px solid #40d1b6;
  padding: 20px;
  margin: auto;
}

.intro p {
  text-indent: 25px;
  font-size: 18px;
  color: #339b5d;
}

.intro ul li {
  text-align: left;
  margin-left: 420px;
}

.intro span {
  color: #f92d00;
}

.column {
  margin: 10px;
  width: 30%;
  padding: 5px;
  height: 610px;
  text-align: center;
  border: 5px solid #6de084;
  background-color: #e0a36d;
  float: left;
}

.column img {
  width: 304px;
  height: 304px;
  padding-top: 20px;
}

.column p {
  margin: 10px;
  padding-top: 20px;
  color: #4286f45;
}

.column h3 {
  color: #996de0;
  padding-top: 5px;
  padding-bottom: 5px;
}

body {
  text-align: center;
  font-family: cursive;
  width: 100%;
  background-color: #81ad22;
}
