h1 {
  color: #ad6122;
}

h2 {
   color: #d8e06d;
}

.intro {
  text-align: center;
  background-color: #c5d140;
  width: 70%;
  color: #7a9b33;
  border: 5px solid #40d1b6;
  padding: 20px;
  margin: auto;
}

.intro p {
  text-indent: 25px;
  font-size: 18px;
  color: #339b5d;
}

.intro ul li {
  text-align: left;
  margin-left: 420px;
}

.intro span {
  color: #f92d00;
}

.column {
  margin: 6px;
  margin-top: 10px;
  width: 31%;
  padding: 5px;
  height: 610px;
  text-align: center;
  border: 5px solid #6de084;
  background-color: #e0a36d;
}

.column img {
  width: 304px;
  height: 304px;
  padding-top: 20px;
}

.column p {
  margin: 10px;
  padding-top: 10px;
  color: #4286f45;
}

.column h3 {
  color: #996de0;
  padding-top: 5px;
  padding-bottom: 5px;
}

body {
  text-align: center;
  font-family: cursive;
  width: 100%;
  background-color: #81ad22;
}

@media screen and (min-width: 1000px) {
  .column {
    float: left;
  }
}

@media screen and (min-width: 700px) and (max-width: 1000px) {

  .column {
    float: left;
    margin: 5px;
    width: 45%;
    text-align: center;
  }
  .intro {
    width: 85%;
    color: #7a9b33;
    border: 5px solid #40d1b6;
    padding: 20px;
    margin: 20px;
  }
  .intro ul li {
    margin-left: auto;
  }
}

@media screen and (min-width: 300px) and (max-width: 480px) {
  body {
    background-color: #87aeed;
  }
}
